{% extends 'base.html.twig' %}

{% block title %}My Forum{% endblock %}

{% block body %}


    {{ dump(threads) }}

    {% for thread in threads %}
        <a href="/forum/thread/{{ thread.id }}">{{ thread.headline }}</a><br>
    {% endfor %}

    {{ form_start(threadForm) }}
    <div id="threadCreateButton">
        <button class="btn buttonWhite">Thread erstellen</button>
    </div>
    {{ form_end(threadForm) }}

{% endblock %}


